<div class='page_part' id='page_part_teaser'>
  <%= f.text_area :custom_teaser, :rows => 20, :class => 'wymeditor widest' -%>
  <p>
    <span class='clearfix label_inline_with_link'>
      <%= link_to t('copy_body', :scope => 'refinery.blog.admin.posts.form'), "#",
                  :id => 'copy_body_link',
                  :title => t('copy_body_help', :scope => 'refinery.blog.admin.posts.form') %>
    </span>
  </p>
</div>

