<article class='blog_comment_message' id='<%= "comment-#{comment.to_param}" %>'>
  <p>
    <%= simple_format auto_link(comment.message.to_s) %>
  </p>
  <footer class='blog_comment_author'>
    <p>
      <%= t('blog.posts.comments.by', :who => comment.name) %>,
      <%= t('blog.posts.comments.time_ago', :time => time_ago_in_words(comment.created_at)) %>
    </p>
  </footer>
</article>
