<section id='records'>
  <%= render 'records' %>
</section>
<aside id='actions'>
  <%= render 'actions' %>
</aside>
<%= render '/refinery/admin/make_sortable', :tree => false if !searching? and ::Refinery::Blog::Admin::BlogsController.sortable? and ::Refinery::Blog::Blog.count > 1 %>
