<nav id="next_prev_article">
  <% if @post.next.present? -%>
    <%= link_to (h(truncate(@post.next.title)) + " &#187;").html_safe, 
                refinery.blog_post_path(@post.next), 
                :class => 'next' %>
  <% end -%>

  <%= link_to t('blog_home', :scope => 'refinery.blog.posts.show'), 
              refinery.blog_blog_path(@post.blog), 
              :class => 'home' %>

  <% if @post.prev.present? -%>
    <%= link_to ("&#171; " + h(truncate(@post.prev.title))).html_safe, 
                refinery.blog_post_path(@post.prev), 
                :class => 'prev' %>
  <% end -%>
</nav><!-- /next_prev_article -->
