<nav id="next_prev_article">
  <% if @post.next.present? -%>
    <%= link_to (truncate(@post.next.title) + " &#187;").html_safe, 
                main_app.url_for(@post.next), 
                :class => 'next' %>
  <% end -%>

  <%= link_to t('blog_home', :scope => 'refinery.blog.posts.show'), 
              main_app.refinery_blog_root_path, 
              :class => 'home' %>

  <% if @post.prev.present? -%>
    <%= link_to ("&#171; " + truncate(@post.prev.title)).html_safe, 
                main_app.url_for(@post.prev), 
                :class => 'prev' %>
  <% end -%>
</nav><!-- /next_prev_article -->
