.comments_icon {
  background-image: url('/images/refinerycms-blog/icons/comments.png');
}
.comment_icon {
  background-image: url('/images/refinerycms-blog/icons/comment.png');
}
.comment_cross_icon {
  background-image: url('/images/refinerycms-blog/icons/comment_cross.png');
}
.comment_tick_icon {
  background-image: url('/images/refinerycms-blog/icons/comment_tick.png');
}
.folder_icon {
  background-image: url('/images/refinerycms-blog/icons/folder.png');
}
.folder_add_icon {
  background-image: url('/images/refinerycms-blog/icons/folder_add.png');
}
.folder_edit_icon {
  background-image: url('/images/refinerycms-blog/icons/folder_edit.png');
}
.settings_icon {
  background-image: url('/images/refinerycms-blog/icons/cog.png');
}
.page_icon {
  background-image: url('/images/refinerycms-blog/icons/page.png');
}
.page_copy_icon {
  background-image: url('/images/refinerycms-blog/icons/page_copy.png');
}
.page_add_icon {
  background-image: url('/images/refinerycms-blog/icons/page_add.png');
}
.collapsible_menu li:first {
  background-image: url('/images/refinerycms-blog/icons/up.png');  
}
.collapsible_menu li.closed {
  background-image: url('/images/refinerycms-blog/icons/down.png');
}