.comments_icon {
  background-image: url('/images/refinerycms-blog/icons/comments.png');
}
.comment_icon {
  background-image: url('/images/refinerycms-blog/icons/comment.png');
}
.comment_cross_icon {
  background-image: url('/images/refinerycms-blog/icons/comment_cross.png');
}
.comment_tick_icon {
  background-image: url('/images/refinerycms-blog/icons/comment_tick.png');
}
.folder_icon {
  background-image: url('/images/refinerycms-blog/icons/folder.png');
}
.folder_add_icon {
  background-image: url('/images/refinerycms-blog/icons/folder_add.png');
}
.folder_edit_icon {
  background-image: url('/images/refinerycms-blog/icons/folder_edit.png');
}
.settings_icon {
  background-image: url('/images/refinerycms-blog/icons/cog.png');
}
.page_icon {
  background-image: url('/images/refinerycms-blog/icons/page.png');
}
.page_copy_icon {
  background-image: url('/images/refinerycms-blog/icons/page_copy.png');
}
.page_add_icon {
  background-image: url('/images/refinerycms-blog/icons/page_add.png');
}
ul.collapsible_menu li {
  position: relative;
}
ul.collapsible_menu li span.arrow {
  background-repeat: no-repeat;
  position: absolute;
  right: 10px;
  top: 13px;
  width: 11px;
  height: 7px;
  cursor: pointer;
}
ul.collapsible_menu li span.arrow {
  background-image: url('/images/refinerycms-blog/icons/up.gif');
}
ul.collapsible_menu li.closed span.arrow {
  background-image: url('/images/refinerycms-blog/icons/down.gif');
}