.blog_post .posted_at{
	display:block;
	margin:0 0 10px;
}
.post_categories .filed_in {
  display: inline;
}
.post_categories ul {
  margin: 0px 0px 0px 6px;
  padding: 0px;
  display: inline;
}
.post_categories ul li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.field.message_field label {
  vertical-align: top;
}
#rss_feed_subscribe {
  display: block;
  padding-left: 25px;
  background: url('/images/refinerycms-blog/rss-feed.png') no-repeat;
}
#next_prev_article{
  overflow:hidden;
  margin:10px 0;
  position:relative;
  height:30px;
}
#next_prev_article a{
  display:block;
  width:33%;
  height:30px;
  line-height:30px;
  position:absolute;
  top:0;
}
#next_prev_article a.prev{
  left:0;
}
#next_prev_article a.home{
  left:33%;
  text-align:center;
}
#next_prev_article a.next{
  text-align:right;
  right:0;
}