.post_categories .filed_in {
  display: inline;
}
.post_categories ul {
  margin: 0px 0px 0px 6px;
  padding: 0px;
  display: inline;
}
.post_categories ul li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.field.message_field label {
  vertical-align: top;
}