ul.blog_categories {
  height:200px;
  overflow:auto;
  border:1px solid #ccc;
  padding:5px;
  &, li {
    list-style: none;
    margin:5px 0;
  }
}
a#copy_body_link {
  background: image_url('refinery/icons/add.png') no-repeat scroll 0 6px transparent;
  border-bottom: 0 none;
  display: inline;
  line-height: 29px;
  margin-top: 0;
  padding-left: 20px;
}
.form-actions a.confirm-delete, #content .form-actions a.confirm-delete {
  position: relative;
  right: auto;
}
.pagination li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .title {
    flex-basis: 90%;
    white-space   : nowrap;
    overflow      : hidden;
    text-overflow : ellipsis;
  }
}
