.comments_icon {
  background-image: image_url('refinery/blog/icons/comments.png');
}
.comment_icon {
  background-image: image_url('refinery/blog/icons/comment.png');
}
.comment_cross_icon {
  background-image: image_url('refinery/blog/icons/comment_cross.png');
}
.comment_tick_icon {
  background-image: image_url('refinery/blog/icons/comment_tick.png');
}
ul.blog_categories {
  height:200px;
  overflow:auto;
  border:1px solid #ccc;
  padding:5px;
  &, li {
    list-style: none;
    margin:5px 0;
  }
}
a#copy_body_link {
  background: image_url('refinery/icons/add.png') no-repeat scroll 0 6px transparent;
  border-bottom: 0 none;
  display: inline;
  line-height: 29px;
  margin-top: 0;
  padding-left: 20px;
}
