.comments_icon {
  background-image: image_url('refinery/blog/icons/comments.png');
}
.comment_icon {
  background-image: image_url('refinery/blog/icons/comment.png');
}
.comment_cross_icon {
  background-image: image_url('refinery/blog/icons/comment_cross.png');
}
.comment_tick_icon {
  background-image: image_url('refinery/blog/icons/comment_tick.png');
}
.folder_icon {
  background-image: image_url('refinery/blog/icons/folder.png');
}
.folder_add_icon {
  background-image: image_url('refinery/blog/icons/folder_add.png');
}
.folder_edit_icon {
  background-image: image_url('refinery/blog/icons/folder_edit.png');
}
.settings_icon {
  background-image: image_url('refinery/blog/icons/cog.png');
}
.page_icon {
  background-image: image_url('refinery/blog/icons/page.png');
}
.page_copy_icon {
  background-image: image_url('refinery/blog/icons/page_copy.png');
}
.page_add_icon {
  background-image: image_url('refinery/blog/icons/page_add.png');
}
ul.collapsible_menu li {
  position: relative;
  span.arrow {
    background-repeat: no-repeat;
    position: absolute;
    right: 10px;
    top: 13px;
    width: 11px;
    height: 7px;
    cursor: pointer;
    background-image: image_url('refinery/blog/icons/up.gif');
  }
  &.closed {
    span.arrow {
      background-image: image_url('refinery/blog/icons/down.gif');
    }
  }
  > div {
    width: 93%;
    margin: 0px auto;
  }
}
ul.blog_categories {
  height:200px;
  overflow:auto;
  border:1px solid #ccc;
  padding:5px;
  &, li {
    list-style: none;
    margin:5px 0;
  }
}
a#copy_body_link {
  background: image_url('refinery/icons/add.png') no-repeat scroll 0 6px transparent;
  border-bottom: 0 none;
  display: inline;
  line-height: 29px;
  margin-top: 0;
  padding-left: 20px;
}
.form-actions a.confirm-delete, #content .form-actions a.confirm-delete {
  position: relative;
  right: auto;
}