<% if @tags.any? %>
  <h2><%= t('.title') %></h2>
  <nav id='tags'>
    <% tag_cloud(@tags, %w(tag1 tag2 tag3 tag4)) do |tag, css_class| %>
      <%= link_to tag.name, main_app.refinery_blog_tagged_posts_path(tag.id, tag.name.parameterize), :class => css_class %>
    <% end %>
  </nav>
<% end %>